@{
    ViewData["Title"] = "Cửa Hàng Thể Thao";
}

<div class="text-center">
    <h1 style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-color-tennis-sport-advertising-background-backgroundmotionwork-outtennistreeshand-paintedfreshhouses-image_75815.jpg
) ">
        Cửa Hàng Thể Thao Quốc Tế 
    </h1>
    <font><marquee direction="left" style="background:repeat-x">
Chào mừng quý khách đã đến Thời Trang Đá Bóng, Mong mọi người ủng hộ , không ủng hộ thì đi ra ngoài , cảm ơn </marquee></font>
    
</div>

@{
    ViewData["Title"] = "Đồ Đá Bóng";
}
<h1>@ViewData["Title"]</h1>
<section>

    <div class="row">

        <div class="grid-container">

            <img src="https://cf.shopee.vn/file/dd28cec5e4987810224f99ce426d9057" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Aó :</b>Pink Panther </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>


            <img src="https://aothethaothietke.com/wp-content/uploads/2022/01/Mau-do-da-banh-San-bong-QUANG-TUYEN-1-VA-2-mau-den-tu-thiet-ke-V2875-600x600.png" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Aó :</b>Pink Panther </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>

            <img src="https://bizweb.dktcdn.net/100/072/140/products/67956858-487944805373810-9158002333961945088-n.jpg?v=1566114236597" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Aó :</b>Pink Panther </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDOeTjyBNN2JpF5jEcanbsVWWs-zhcTQIEIQ&amp;usqp=CAU" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Aó :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>
            @{
                ViewData["Title"] = "Giay Thể Thao";
            }
            <h1>@ViewData["Title"]</h1>

            <img src="https://dothethao.net.vn/wp-content/uploads/2020/05/112650574_285590266109652_3183710693046463183_o.jpg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Giay :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>

            <img src="https://www.sport9.vn/images/uploaded/dot2/25-Giay-da-bong-chinh-hang-giup-ban-thang-hoa-trong-moi-cuoc-vui-1.jpg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Hãng Giay :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>


            @{
                ViewData["Title"] = "Băng Keo Dán Chân";
            }
            <h1>@ViewData["Title"]</h1>
            <img src="https://lzd-img-global.slatic.net/g/p/b61e09cc34e28b975470a10b7ef85f48.jpg_720x720q80.jpg_.webp" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Băng keo Đá Bóng :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>
            <img src="https://product.hstatic.net/1000061481/product/ca91071462074f59ae70bb37af37f6a3_ae9319d05317410bb0cf5e76ce6b0bd9_grande.jpeg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Băng keo Đá Bóng :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>

            @{
                ViewData["Title"] = "Tất Thể Thao";
            }
            <h1>@ViewData["Title"]</h1>
            <img src="https://vn-test-11.slatic.net/p/1bbcb48f5f13ec55c830714ba9aa003f.jpg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b> Tất Đá Bóng :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>
          <img src="https://media3.scdn.vn/img2/2018/8_10/3sJqUE_simg_de2fe0_500x500_maxb.jpg"  style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Tất Đá Bóng :</b>Epor </p>
                <p><b> SiZe  </b>M,Xl,SLL</p>
                <p><b>Gía Thành </b>300k</p>
            </label>

        </div>
    </div>
</section>