@model CuaHangTheThao.Models.DoTheThao

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/from.css" />
<h1>Delete</h1>

<h3></h3>
<div>
    <h4>Shop Gia Dụng Thể Thao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Ngày Mua Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            Size
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn form-row" /> |
        <a asp-action="Index">Quay Lại</a>
    </form>
</div>
