body {
}

.edit {
    color:skyblue ;
}

.detele {
    color: fuchsia;
}

.detail {
    color: firebrick;
}

h1 {
    color: navajowhite;
}

h1 {
    color: purple;
}


h4 {
    color: darkgoldenrod;
}

h1 {
    color: darkblue;
}
